<div class="card">
    <form [formGroup]="form" (ngSubmit)="onSubmit(userSavedModal)">
        <div class="card-header">
            Benutzer bearbeiten
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="id">ID</label>
                        <input type="text" class="form-control" id="id"
                               [value]="user.id" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="firstname">Vorname</label>
                        <input type="text" class="form-control" id="firstname" placeholder="Gebe einen Vornamen ein"
                               formControlName="firstname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="lastname">Nachname</label>
                        <input type="text" class="form-control" id="lastname" placeholder="Gebe einen Nachnamen ein"
                               formControlName="lastname">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="email">E-Mail</label>
                            <input type="email" class="form-control" id="email"
                                   placeholder="Gebe eine E-Mail Adresse ein"
                                   formControlName="email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="permission">Berechtigung</label>
                        <input type="number" class="form-control" id="permission" formControlName="permission">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="password">Passwort</label>
                        <input type="password" class="form-control" id="password"
                               formControlName="password">
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="form.invalid">
                <spinner display="inline" *ngIf="savingInProgress"></spinner>Speichern</button>
            <button type="button" class="btn btn-sm" [routerLink]="['..']">Abbrechen</button>
            <button type="button" class="pull-right btn btn-sm btn-danger" (click)="deleteUserModal.show()">Löschen</button>
        </div>
    </form>
</div>

<div bsModal #deleteUserModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-danger" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Benutzer löschen</h4>
                <button type="button" class="close" (click)="deleteUserModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Soll der Benutzer <strong>{{user.firstname}} {{user.lastname}} (ID {{user.id}})</strong> wirklich gelöscht werden?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="deleteCurrentUser(userDeletedModal)" [disabled]="deletionInProgess">
                    <spinner display="inline" *ngIf="deletionInProgess"></spinner>Ja</button>
                <button type="button" class="btn" (click)="deleteUserModal.hide()">Nein</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #userDeletedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Benutzer gelöscht</h4>
                <button type="button" class="close" [routerLink]="['..']" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Der Benutzer wurde gelöscht.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" [routerLink]="['..']">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div bsModal #userSavedModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Benutzer gespeichert</h4>
                <button type="button" class="close" (click)="userSavedModal.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Die Änderungen wurden gespeichert.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" (click)="userSavedModal.hide()">Schließen</button>
            </div>
        </div>
    </div>
</div>
