<alert *ngIf="purchases && purchases.length === 0" type="warning">Du hast leider bisher noch keinen Kaffee gekauft.
    Trinke deinen ersten Kaffee, damit Du hier etwas sehen kannst.
</alert>
<spinner *ngIf="!purchases"></spinner>
<div *ngIf="purchases && purchases.length > 0">
    <table class="table">
        <thead>
        <tr>
            <th>Zeitpunkt</th>
            <th>Maschine</th>
            <th>Produkt</th>
            <th>Preis</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let purchase of displayedPurchases">
            <td>{{purchase.timestamp | timestampFormat}}</td>
            <td *ngIf="purchase.machine.name">{{purchase.machine.name}}</td>
            <td *ngIf="!purchase.machine.name">
                <spinner display="inline"></spinner>
            </td>
            <td>{{purchase.product}}</td>
            <td>{{purchase.price | moneyFormat}} €</td>
        </tr>
        </tbody>
    </table>
    <pagination [boundaryLinks]="true" [totalItems]="purchases.length" [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" class="pagination text-center"
                [itemsPerPage]="itemsPerPage" [maxSize]="6"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div>