//Add scrollbars to small card contents
.card-body {
  overflow-x: auto;
}

$qcodis: #fcf8d4;
$qcodisLogoLight: #a05a2c;
$qcodisLogoDark: #784421;
$niceOrange: #f4a142;
$qcodisSidebarSecondary: #ffd8a5;

$defaultBorder: (
  bottom: (
    size: 1px,
    style: solid,
    color: $qcodisLogoLight
  )
);

// Sidebar
$sidebar-color: #000;
$sidebar-bg: $qcodis;
$sidebar-borders: none;

// Sidebar Navigation
$sidebar-nav-color: $qcodisLogoDark;
$sidebar-nav-title-color: $qcodisLogoDark;
$sidebar-nav-link-color: $qcodisLogoDark !important;
$sidebar-nav-link-icon-color: $qcodisLogoDark;

$sidebar-nav-link-hover-color: $qcodisLogoDark;
$sidebar-nav-link-hover-bg: $niceOrange;
$sidebar-nav-link-hover-icon-color: $qcodisLogoDark;

$sidebar-nav-link-active-color: $qcodisLogoDark;
$sidebar-nav-link-active-bg: $niceOrange;
$sidebar-nav-link-active-icon-color: $qcodisLogoDark;

$sidebar-nav-dropdown-color: $qcodisLogoDark;
$sidebar-nav-dropdown-bg: $qcodisSidebarSecondary;
$sidebar-nav-dropdown-indicator-color: $qcodisLogoDark;

// Sidebar Footer
$sidebar-footer-bg: $qcodisSidebarSecondary;

// Sidebar Minimizer
$sidebar-minimizer-bg: $qcodisSidebarSecondary;
$sidebar-minimizer-indicator-color: $qcodisLogoDark;
$sidebar-minimizer-hover-bg: $niceOrange;
$sidebar-minimizer-hover-indicator-color: $qcodisLogoDark;

// Navbar (Header)
$navbar-bg: $qcodis;
$navbar-border: $defaultBorder;
$navbar-brand-bg: $qcodis;
$navbar-brand-logo-size: 70% auto;
$navbar-brand-border: $defaultBorder;

$navbar-color:                        $qcodisLogoDark;
$navbar-hover-color:                  $qcodisLogoLight;
$navbar-active-color:                 $qcodisLogoLight;
$navbar-disabled-color:               $gray-800;

//Breadcrumbs
$breadcrumb-borders: none;
// Footer
$footer-bg:                           $qcodis;
$footer-color:                        $qcodisLogoDark;
$footer-borders: none;
