<alert *ngIf="users && users.length === 0" type="warning">Es existieren keine Benutze O.o
</alert>
<spinner *ngIf="!users"></spinner>
<div *ngIf="users && users.length > 0">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="d-none d-sm-table-cell">Vorname</th>
            <th class="d-none d-sm-table-cell">Nachname</th>
            <th class="d-xs-table-cell d-sm-none">Name</th>
            <th>E-Mail</th>
            <th class="d-none d-sm-table-cell">Berechtigung</th>
            <th class="d-none d-sm-table-cell" *ngIf="showBalance">Guthaben</th>
        </tr>
        </thead>
        <tbody>
        <tr style="cursor: pointer" *ngFor="let user of displayedUsers" [routerLink]="[user.id]">
            <td class="d-none d-sm-table-cell">{{ user.firstname }}</td>
            <td class="d-none d-sm-table-cell">{{ user.lastname }}</td>
            <td class="d-xs-table-cell d-sm-none">{{ user.firstname }} {{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td class="d-none d-sm-table-cell">{{ user.permission }}</td>
            <td class="d-none d-sm-table-cell" *ngIf="showBalance && userBalances[user.id] === undefined"><spinner display="inline"></spinner></td>
            <td class="d-none d-sm-table-cell" *ngIf="showBalance && userBalances[user.id] !== undefined">{{ userBalances[user.id] | moneyFormat }} €</td>
        </tr>
        </tbody>
    </table>
    <div class="d-none d-sm-block pull-right">
        <label class="switch switch-3d switch-primary switch-sm">
            <input checked="" class="switch-input" type="checkbox" [(ngModel)]="showBalance" (change)="getBalances()">
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
        </label>&nbsp;
        Guthaben anzeigen
    </div>
    <pagination [boundaryLinks]="true" [totalItems]="users.length" [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" class="pagination text-center"
                [itemsPerPage]="itemsPerPage" [maxSize]="6"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>


</div>