<alert *ngIf="machines && machines.length === 0" type="warning">Derzeit sind leider keine Kaffeemaschinen verfügbar</alert>
<spinner *ngIf="!machines"></spinner>
<div *ngIf="machines && machines.length > 0">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th class="d-none d-sm-table-cell">Beschreibung</th>
      <th *ngIf="currentUser.permission >= 1000">Power</th>
      <th class="d-none d-md-table-cell" *ngIf="currentUser.permission >= 1000">Tür</th>
      <th class="d-none d-md-table-cell" *ngIf="currentUser.permission >= 1000">Wasser</th>
      <th class="d-none d-md-table-cell" *ngIf="currentUser.permission >= 1000">Müllbehälter</th>
      <th>Status</th>
      <th *ngIf="currentUser.permission >= 1000">Zeitpunkt</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let machine of machines">
      <td>{{ machine.name }}</td>
      <td class="d-none d-sm-table-cell">{{ machine.description }}</td>
      <td *ngIf="currentUser.permission >= 1000 && machine.status.poweron"><div class="badge badge-success">An</div></td>
      <td *ngIf="currentUser.permission >= 1000 && !machine.status.poweron"><div class="badge badge-danger">Aus</div></td>
      <td class="d-none d-md-table-cell" *ngIf="currentUser.permission >= 1000 && machine.status.dooropen && machine.status.poweron"><div class="badge badge-danger">geöffnet</div></td>
      <td class="d-none d-md-table-cell" *ngIf="currentUser.permission >= 1000 && !machine.status.dooropen && machine.status.poweron"><div class="badge badge-success">geschlossen</div></td>
      <td class="d-none d-md-table-cell" *ngIf="currentUser.permission >= 1000 && !machine.status.poweron"><div class="badge badge-light">unbekannt</div></td>
      <td class="d-none d-md-table-cell" *ngIf="currentUser.permission >= 1000 && !machine.status.waterempty && machine.status.poweron"><div class="badge badge-success">ok</div></td>
      <td class="d-none d-md-table-cell" *ngIf="currentUser.permission >= 1000 && machine.status.waterempty && machine.status.poweron"><div class="badge badge-danger">leer/ fehlt</div></td>
      <td class="d-none d-md-table-cell" *ngIf="currentUser.permission >= 1000 && !machine.status.poweron"><div class="badge badge-light">unbekannt</div></td>
      <td class="d-none d-md-table-cell" *ngIf="currentUser.permission >= 1000 && machine.status.trashbinfull && machine.status.poweron"><div class="badge badge-danger">voll/ fehlt</div></td>
      <td class="d-none d-md-table-cell" *ngIf="currentUser.permission >= 1000 && !machine.status.trashbinfull && machine.status.poweron"><div class="badge badge-success">ok</div></td>
      <td class="d-none d-md-table-cell" *ngIf="currentUser.permission >= 1000 && !machine.status.poweron"><div class="badge badge-light">unbekannt</div></td>
      <td *ngIf="machine.status.ready"><div class="badge badge-success">Bereit</div></td>
      <td *ngIf="!machine.status.ready"><div class="badge badge-danger">Nicht ok</div></td>
      <td *ngIf="currentUser.permission >= 1000">{{ machine.status.timestamp | timestampFormat}}</td>
    </tr>
    </tbody>
  </table>
</div>