<div class="row">
    <div class="col-lg-6 col-12">
        <spinner *ngIf="!user"></spinner>
        <app-user-edit-form [user]="user" *ngIf="user"></app-user-edit-form>
    </div>
    <div class="col-lg-6 col-12">
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i>
                Transaktionen des Nutzers
            </div>
            <div class="card-body">
                <spinner *ngIf="!user"></spinner>
                <app-transaction-table [user]="user" *ngIf="user"></app-transaction-table>
            </div>
        </div>
    </div>
</div>