<alert *ngIf="transactions && transactions.length === 0" type="warning">Es konnten keine Transaktionen gefunden werden.
</alert>
<spinner *ngIf="!transactions"></spinner>
<div *ngIf="transactions && transactions.length > 0">
    <table class="table">
        <thead>
        <tr>
            <th class="d-none d-sm-table-cell"></th>
            <th>ID</th>
            <th>Beschreibung</th>
            <th>Betrag</th>
            <th>Zeitpunkt</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of displayedTransactions">
            <td class="d-none d-sm-table-cell" *ngIf="transaction.amount > 0"><i class="fa fa-long-arrow-right text-success"></i></td>
            <td class="d-none d-sm-table-cell" *ngIf="transaction.amount < 0"><i class="fa fa-long-arrow-left text-danger"></i></td>
            <td class="d-none d-sm-table-cell" *ngIf="transaction.amount === 0"></td>
            <td>{{ transaction.id }}</td>
            <td>{{ transaction.description }}</td>
            <td class="text-success" *ngIf="transaction.amount >= 0">{{ transaction.amount | moneyFormat }} €</td>
            <td class="text-danger" *ngIf="transaction.amount < 0">{{ transaction.amount * -1 | moneyFormat }} €</td>
            <td>{{ transaction.timestamp | timestampFormat }}</td>
        </tr>
        </tbody>
    </table>
    <pagination [boundaryLinks]="true" [totalItems]="transactions.length" [(ngModel)]="currentPage"
                (pageChanged)="pageChanged($event)" class="pagination text-center"
                [itemsPerPage]="itemsPerPage" [maxSize]="6"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div>